$black: #010606;
$green: #01bf71;
$white: #fff;

$mobile-width: 600px;
$mobile-small-width: 450px;
$tablet-width:1024px;
$tablet-small-width:768px;


$box-shadow:rgba(149,157,165,0.2) 0px 8px 24px;

$numbers:(0,1,2,3,4,5,6);