.footer{
    @include flex(center, space-between);
    padding: 1.5rem 15%;
    //box-shadow: #7f8b8494 0px 8px 24px;
    box-shadow: 0 -5px 5px -5px #6c6969b3;
    margin-top: 2rem;

    @include tablet{
        padding: 2rem;
    }

    @include mobile{
        flex-direction: column;
        gap:0.5rem;
    }

    &__icon{
        i{
            padding: 0 0.5rem;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }

    &__copyright{
        font-size: 1.2rem;
    }
    &__logo{
        font-size: 2rem;
        font-weight: 700;
    }
}